<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mateusz Janczak</title>
</head>
<body>
<div class="container mt-5 p-5 border">
  <div class="text-center mb-5">
    <h1>Uzupełnij dane</h1>
  </div>
  <form class="mb-3">
    <div class="row mb-3">
      <label for="inputFirstname" class="col-sm-2 col-form-label">Imię</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputFirstname" placeholder="Podaj imię">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputLastname" class="col-sm-2 col-form-label">Nazwisko</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputLastname" placeholder="Podaj nazwisko">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail" placeholder="Podaj email">
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Płeć</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="radioMale" value="male" checked>
          <label class="form-check-label" for="radioMale">
            Mężczyzna
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="radioFemale" value="female">
          <label class="form-check-label" for="radioFemale">
            Kobieta
          </label>
        </div>
      </div>
    </fieldset>
    <div class="row mb-3">
      <label for="textareaDescription" class="col-sm-2 col-form-label">Opis</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="textareaDescription" placeholder="Podaj opis"></textarea>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputAge" class="col-sm-2 col-form-label">Wiek</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="inputAge" placeholder="18">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputMaritalStatus" class="col-sm-2 col-form-label">Stan cywilny</label>
      <div class="col-sm-10">
        <select class="form-select" id="inputMaritalStatus" aria-label=".form-select-sm example">
          <option value="Panna/Kawale" selected>Panna / Kawaler</option>
          <option value="Żonaty/Zamężna">Żonaty / Zamężna</option>
          <option value="Wdowiec/Wdowa">Wdowiec / Wdowa</option>
          <option value="Rozwiedziony/Rozwiedziona">Rozwiedziony / Rozwiedziona</option>
          <option value="Separowany/Separowana">Separowany / Separowana</option>
        </select>
      </div>
    </div>
    <div class="text-center mt-5">
      <button type="reset" class="btn btn-primary mx-1">Wyczyść</button>
      <button type="submit" class="btn btn-primary mx-1">Wyślij</button>
    </div>
  </form>
</div>

<footer class="footer bg-light fixed-bottom text-center pt-3">
  <p>Copyrights © Mateusz Janczak | 2021</p>
</footer>
</body>
</html>
